h1 {
    /* add code in here to adjust h1 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: #333;
    padding-left: 24px;
}
h2 {
    /* add code in here to adjust h2 */
    color: red;
}
main p {
    color: #333;
}
section {
    font-family: Arial;
    width: 800px;
    margin: 48px;
}
footer {
    padding: 48px;
    background-color: #dedede;
}
.menu-items {
    /* adjust some of these properties as needed */
    font-family: courier;
    /* this gets rid of the bullets */
    list-style-type: none;
    width: 600px;
    padding: 24px;
    border-left: 3px dotted red;
    border-right: 3px dotted red;
    border-top: 3px dotted red;
    border-bottom: 3px dotted red;
    background-color: #f4f4f4;
    margin-left: 24px;
}
.daily-special {
    /* add code here as required */
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 10px;
}

.special {
    /* add code here as required */
    color: red;
}